<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Saturnus: About</title>
    <link rel="stylesheet" type="text/css" href="css/about.css" media="screen" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <div style="margin-left: 48%">
            <h2 style="color: whitesmoke; margin-top: 14px">Saturnus</h2>
        </div>
    </ul>
    <div style="margin-left: 8%; margin-right: 8%" align="center">
        <p><i>Saturnus</i> is a simulator for parallel file systems (PFS's),
        based on the well known file system <a href="http://www.orangefs.org/">OrangeFS</a>.
        It's main goal is to evaluate and help developers and companies to choose the
        best settings for their PFS's.</p>

        <p>
            PFS's are gaining space on industry and research these days. In general, they
        have a lot of advantages over traditional distributed file systems. Properties as the parallel
        access to the same file and the process called "file striping" are some of them.
        The system receives the data and, according to the settings
        of it, divides the file in stripes and then distribute these stripes through the
        storage nodes of the PFS. Some changes on how the system implement this property
        can occur, as there are different implementations of PFS's available on the internet.
        </p>
    </div>

    <div id="bottom_bar">
        <a href="https://github.com/lapesd">
            <img src="lapesd.png" align="right" style="height: 60px"/>
        </a>
        <a href="http://ufsc.br/">
            <img src="ufsc.svg" align="right" style="height:56px;"/>
        </a>
    </div>

</body>

</html>